<footer class="main-footer">
    <div class="DIN-informations">
        <h4>Departamento de Informática</h4>
        <p>Universidade Estadual de Maringá -</p>
        <p>Formando profissionais desde 1976</p>
    </div>
    <div class="fast-nav">
        <h4>Navegação Rápida</h4>
        <ul>
            <li><a href="/">Cursos</a></li>
            <li><a href="/">Docentes</a></li>
            <li><a href="/">Documentação</a></li>
        </ul>
    </div>
    <div class="contact">
        <h4>Contato</h4>
        <p>
            Email:
            <a href="mailto:coord-cco@uem.br">coord-cco@uem.br</a>
            e
            <a href="mailto:coord-inf@uem.br">coord-inf@uem.br</a>
        </p>
        <p>Telefone: 3011-4324</p>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Departamento de Informática - UEM</p>
    </div>
</footer>
