<footer>
    <div class="container">
        <div class="footer-top">

            <div class="column">
                <h2>Departamento de Informática</h2>
                <p>Universidade Estadual de Maringá - Formando Profissionais desde 1976</p>
            </div>

            <div class="column display_block">
                <h2>Navegação Rápida</h2>
                <a href="/inicio">Início</a>
                <a href="/cursos">Cursos</a>
                <a href="/docentes">Docentes</a>
            </div>

            <div class="column">
                <h2>Contato</h2>
                <p>Email: <a class="link" href="mailto:coord-cco@uem.br">coord-cco@uem.br</a> e <a class="link" href="mailto:coord-info@uem.br">coord-info@uem.br</a></p>
                <p>Telefone: (44) 3011-4324</p>
            </div>
        </div>

        <hr class="footer-line">

        <div class="footer-bottom">
        © 2026 Departamento de Informática - UEM
        </div>   
    </div>
</footer>