<header class="navbar">
    <div class="logo">
        <a href="{{ get_url(path='') }}">
            <img
                src="{{ get_url(path='static/midia/DINlogo.svg') }}"
                alt="DIN Logo"
            />
        </a>
    </div>
    <div class="header-container">
        <p>UEM-DIN</p>
        <nav class="nav">
            <a href="/">Início</a>
            <a href="#">Cursos</a>
            <a href="#">Docentes</a>
            <a href="#">Documentação</a>
            <a href="#">Portal do Aluno</a>
            <a href="#">Portal do Docente</a>
            <a href="/">Admissão</a>
        </nav>
    </div>
</header>
