<header>
    <div class="container">
        <div class="logo">
            <a href="{{ get_url(path='@/_index.md') }}">UEM – DIN</a>
        </div>
        <nav class="nav-links">
            <a href="{{ get_url(path='@/_index.md') }}">Início</a>
            <a href="{{ get_url(path='@/cursos/_index.md') }}">Cursos</a>
            <a href="{{ get_url(path='@/docentes/_index.md') }}">Docentes</a>
            <a href="{{ get_url(path='@/documentos/_index.md') }}">Documentação</a>
            <a href="{{ get_url(path='@/portal-aluno/_index.md') }}">Portal do Aluno</a>
            <a href="{{ get_url(path='@/portal-docente/_index.md') }}">Portal do Docente</a>
            <a href="{{ get_url(path='@/ingresso/_index.md') }}">Admissão</a>
            <a href="{{ get_url(path='@/login/_index.md') }}" class="nav-btn-login">Entrar</a>
        </nav>
    </div>
</header>