<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} Início | Din UEM {% endblock title %}</title>

        <link
            rel="icon"
            href="{{ get_url(path='midia/DINlogo.svg') }}"
            type="image/svg+xml"
        />

        <link
            rel="stylesheet"
            href="{{ get_url(path='main.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ get_url(path='css/general/header.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ get_url(path='css/general/footer.css') }}"
        />

        {% block extra_css %}{% endblock extra_css %}
    </head>
    <body>
        {% include "partials/header.html" %}

        <main>{% block content %}{% endblock content %}</main>

        {% include "partials/footer.html" %}
    </body>
</html>
