{% extends "base.html" %}


{% block title %}

{% endblock title %}


{% block extra_css %}
<link rel="stylesheet" href="{{ get_url(path='/docentes.css') }}">
{% endblock extra_css %}


{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>
            Corpo Docente
        </h1>
        <p>
            Conheça nossos professores e pesquisadores de excelência
        </p>
    </div>
</section>

<section class="docentes-section">
    <div class="docentes-area">
        <p>Pesquisadores e Professores</p>
        <p>Docentes qualificados e comprometidos com a excelência educacional</p>
        <div class="docentes-grid">
            {% for page in section.pages %}
                <a class="card">
                    <img src="{{ get_url(path=page.extra.imagem | trim_start_matches(pat='/')) }}" >
                    <h2>{{ page.title }}</h2>
                    <p> {{ page.extra.status }}</p>
                    <p> {{ page.extra.resumo }}</p>
                    <div class="card-content">
                        <p>Áreas de Pesquisa:</p>
                        <p>{{ page.extra.areas}}</p>
                        <p>{{ page.extra.email }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
