{% extends "base.html" %} {% block title %} Ingresso | DIN-UEM {% endblock title
%} {% block extra_css %}
<link rel="stylesheet" href="{{ get_url(path='/ingresso.scss') }}" />
{% endblock extra_css %} {% block content %}
<section class="hero" style="background-color: #003366">
    <div class="hero-content">
        <h1>Processo de Admissão</h1>
        <p>
            Conheça as formas de ingresso nos cursos do Departamento de
            Informática
        </p>
    </div>
</section>
<section class="admission-section">
    <div class="grid-cards">
        {% for page in section.pages %}
        <div class="card-content">
            <h3 class="card-title">{{ page.title }}</h3>
            <p>{{ page.description }}</p>
            <div class="card-character">
                <strong>Características:</strong>
                <div class="dots">{{page.extra.caracteristicas}}</div>
            </div>
            <div class="card-requirements">
                <strong>Requisitos:</strong>
                <div class="chacks">{{page.extra.requisitos}}</div>
            </div>
            <div class="data-block">
                <strong class="prazo">Prazo:</strong>
                <div class="data">{{page.extra.prazo}}</div>
                <div class="button">Acessar Edital UEM</div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
