{% extends "base.html" %}

{% block title %}Portal do Aluno{% endblock title %}

{% block content %}
<div class="container">
    <h1>{{ section.extra.acesso_rapido.title }}</h1>
    <p>{{ section.extra.acesso_rapido.subtitle }}</p>

    <section class="card-row">
        {% for card in section.extra.acesso_rapido.cards %}
        <div class="card">
            <div class="emoji">{{ card.emoji }}</div>
            <h4>{{ card.title }}</h4>
            <p>{{ card.text }}</p>
            <a href="{{ card.link }}">{{ card.link_text }} &#x1F852</a>
        </div>
        {% endfor %}
    </section>


    <h1>{{ section.extra.news.title }}</h1>
    <p>{{ section.extra.news.subtitle }}</p>

    <section class="card-column">
        {% for item in section.extra.news.items %}
        <div class="card">
            <h3>{{ item.title }}</h3>
            <span class="tag">{{ item.tag }}</span>
            <p>{{ item.text }}</p>
            <span class="card-date">{{ item.date }}</span>
        </div>
        {% endfor %}
    </section>


    <section class="card-row">
        {% for group in section.extra.links.groups %}
        <div class="card">
            <h3>{{ group.title }}</h3>
            <ul>
                {% for link in group.items %}
                <li>{{ link }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock content %}